  <div class="devise-form-container">
    <h2 class="devise-form-title">新しいパスワードを設定</h2>
    
    <p class="devise-form-description">
      新しいパスワードを入力してください。<br>
      パスワードリセット手続きを完了します。
    </p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="devise-form-field">
        <%= f.label :password, "新しいパスワード", class: "devise-form-label" %>
        <% if @minimum_password_length %>
          <em class="devise-form-password-hint">(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "devise-form-input" %>
      </div>

      <div class="devise-form-field last">
        <%= f.label :password_confirmation, "新しいパスワード（確認）", class: "devise-form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "devise-form-input" %>
      </div>

      <div>
        <%= f.submit "パスワードを変更する", class: "devise-form-submit" %>
      </div>
    <% end %>

    <div class="devise-form-divider">
      <h2 class="devise-form-options-title">他のオプション</h2>
      <%= render "devise/shared/links" %>
    </div>
  </div>
